<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WallpapersAPI - Usage</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/creative.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">WallpapersAPI</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner" style="text-align:left">
            <br><br><br><br><br>
                <h1 id="homeHeading">Usage Policy</h1>
                <br><br>    

                Our site (and all of its contents) is free of charge for anyone for personal usage. Organisations (for instance, but not limited to, non-profit or companies) may use the system if they clear this with the system operators first. Permission for organisations/companies is not needed for obvious "well meaning" usage, i.e. distributing works of cultural benefit for the end user.
                <br><br>

                The site is run privately. That means that we do not guarantee that the site will be available for users at all time but we try our best to make the site run stable. We take no responsibility for loss of income or similar due to downtime/failure.
                <br><br>

                This policy may change at any time, please check in before using the site.
                <br><br>

                <b>Connecting to our site means that you accept this policy agreement.</b>
                <br><br>

                <i>Last updated: 10/05/2017</i>
            </div>
        </div>
    </header>


    
    
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action" style="text-align:left">
            <p style="text-align:left"><h5>Copyright © 2016 WallyZip () All rights reserved. 
            <a href='/usage'>Usage Policy</a> - 
            <a href='/disclaimer'>Disclaimer</a> -
            <a href='/copyright'>Copyright</a> -
            <a href='/dmca'>DMCA</a> -
            <a href='/github'>Github</a>

            <br>
            WallyZip curates content from other sites and doesn't host any file itself. All the content remain the property of their original owners.</h5></p>
            </div>
        </div>
    </aside>

    

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/creative.min.js') }}"></script>

</body>

</html>
